<%= render 'layouts/profile'%>
<%= render 'post_form', :post => @post %>
<% @posts.each do |p| %>
  <%= link_to "/users/#{@user.id}/posts/#{p.id}" do %>
    <article class="w-100 p-2 rounded-top mb-5 shadow">
      <%= render 'layouts/posts', :post =>p %>
  <%end %>
     <% if p.comments.count > 0 %>
        <p class="p-1">Comments:</p>
        <article class="w-100 bord p-2 rounded-top shadow">
        <%render_comments(p.comments.includes([:user])).each do |c| %>
          <p><%=c.user.name %>: <%= c.text%></p>
        <%end%>
      <%end%>
      </article>
    </article>
<%end%>
