<article class="w-100 bord p-2 rounded-top mb-4 my-5 shadow">
  <section class="d-flex justify-content-between postsBy">
    <div>
      <h5>Post # <%=@post.id %> by <%= @post.user.name %></h5>
    </div>
    <div class="align-self-end">
      <p>Comments: <%=@post.comments.count%> Likes: <%=@post.likes.count%></p>
    </div>
  </section>
  <section class="postsText mt-2">
    <p><%= @post.text%></p>
  </section>
  <section class="mb-3 text-right">
    <%= render 'posts/like_form', :like => @like, :post => @post.id %>
  </section>
  <section class="p-2 shadow">
  <%= render 'comments/comment_form', :comment => @comment%>

  <% @comments.each do |comment| %>
    <p><%= comment.user.name %> : <%= comment.text %> 
  <% end %>

  </section>

  
</article>
