<!DOCTYPE html>
<html>
  <head>
    <title>MeaningfulName</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container-md mx-auto">
    <%if current_user%>
      <header>
        <div><%= link_to 'Signout', destroy_user_session_path, method: :delete %></div>
        <div><%= link_to 'Change password', edit_user_registration_url%></div>
      </header>
    <% end %>
    <% if notice %>
      <p class="alert deepPurple p-1 outline-border-none"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert pink deepPurple p-1 outline-border-none"><%= alert %></p>
    <% end %>
    <%= yield%>
  </body>
</html>
